<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/stylesheet/style.css" type="text/css">
</head>
{% block body %}
<body>
	    <div class="login-form">
  			<form action="/login" method="post" enctype="multipart/form-data">
  			    <h3 class="text-center">Login</h3>
                 {% if sessionMsg == "sessionExpired" %}
                      <p class="text-center" style="color:#FF0000">Your session expired, please Login again!</p>
                {% endif %}
                 {% if error == "NotValidUser" %}
                      <p class="text-center" style="color:#FF0000">Please enter valid Username it is case sensitive!</p>
                {% endif %}
                <div class="form-group">
    			    <input type="text" class="form-control" name="name" id="name" placeholder="Username" required/>
                </div>
                <div class="form-group">
    			    <input type="password" class="form-control" name="pass" id="pass" placeholder="Password" required/>
                </div>
    			<div class="form-group">
    			    <input type="submit" class="btn btn-primary btn-block" name="login" id="login" value="Login"/>
                </div>
  			</form>
		</div>
        <div class="text-center">
            Not a user?
            Register here
            <a href="/register" name="register" id="register">Register</a>
        </div>
</body>
{% endblock %}
</html>